.hint {
  background-color: black;
  color: #00FF00;
  border: 1px solid white;
  font-size: 15px;
  padding: 5px;
} 

.post {
  border: 1px solid black;
  padding: 3px;
  font-size: 18px;
  background-color: #c5d8fb;
  width: 500px;
}